[Desktop Entry]
Name=Riverstone
Name[es]=Rio de piedras


X-KDE-PluginInfo-Name=Riverstone
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nxos.org
X-KDE-PluginInfo-License=CC BY-SA 4.0
