[Desktop Entry]
Name=Nature
Name[x-test]=xxNaturexx
X-KDE-PluginInfo-Name=Nature
X-KDE-PluginInfo-Author=Xen Wildman
X-KDE-PluginInfo-Email=xenwildman@gmail.com
X-KDE-PluginInfo-License=
