[Desktop Entry]
Name=Chiles
Name[es]=Chiles


X-KDE-PluginInfo-Name=Chiles
X-KDE-PluginInfo-Author=Xen Wildman
X-KDE-PluginInfo-Email=xenwildman@gmail.com
X-KDE-PluginInfo-License=CC BY-SA 4.0
