[Desktop Entry]
Name=Prime Dark
Name[es]=Prime Oscuro


X-KDE-PluginInfo-Name=PrimeDark
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nxos.org
X-KDE-PluginInfo-License=CC BY-SA 4.0
