[Desktop Entry]
Name=Noir Bench
Name[es]=Banca Noir


X-KDE-PluginInfo-Name=Noir_Bench
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nxos.org
X-KDE-PluginInfo-License=CC BY-SA 4.0
