[Desktop Entry]
Name=Nitrux Prime Wallpaper Collection
Name[ast]=Nitrux Prime Wallpaper Collection
Name[bs]=Nitrux Prime Wallpaper Collection
Name[ca]=Nitrux Prime Wallpaper Collection
Name[ca@valencia]=Nitrux Prime Wallpaper Collection
Name[cs]=Nitrux Prime Wallpaper Collection
Name[da]=Nitrux Prime Wallpaper Collection
Name[de]=Nitrux Prime Wallpaper Collection
Name[el]=Nitrux Prime Wallpaper Collection
Name[en_GB]=Nitrux Prime Wallpaper Collection
Name[es]=Nitrux Prime Wallpaper Collection
Name[et]=Nitrux Prime Wallpaper Collection
Name[eu]=Nitrux Prime Wallpaper Collection
Name[fi]=Nitrux Prime Wallpaper Collection
Name[fr]=Nitrux Prime Wallpaper Collection
Name[ga]=Nitrux Prime Wallpaper Collection
Name[gl]=Nitrux Prime Wallpaper Collection
Name[hu]=Nitrux Prime Wallpaper Collection
Name[is]=Nitrux Prime Wallpaper Collection
Name[it]=Nitrux Prime Wallpaper Collection
Name[lt]=Nitrux Prime Wallpaper Collection
Name[nb]=Nitrux Prime Wallpaper Collection
Name[nds]=Nitrux Prime Wallpaper Collection
Name[nl]=Nitrux Prime Wallpaper Collection
Name[pl]=Nitrux Prime Wallpaper Collection
Name[pt]=Nitrux Prime Wallpaper Collection
Name[pt_BR]=Nitrux Prime Wallpaper Collection
Name[ro]=Nitrux Prime Wallpaper Collection
Name[sk]=Nitrux Prime Wallpaper Collection
Name[sl]=Nitrux Prime Wallpaper Collection
Name[sr@ijekavianlatin]=Nitrux Prime Wallpaper Collection
Name[sr@latin]=Nitrux Prime Wallpaper Collection
Name[tr]=Nitrux Prime Wallpaper Collection Prime Wallpaper Collection
Name[x-test]=xxNitrux Prime Wallpaper Collectionxx
Name[zh_CN]=Nitrux Prime Wallpaper Collection
X-KDE-PluginInfo-Name=Nitrux
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International
