[Desktop Entry]
Name=Bokeh
Name[es]=Bokeh


X-KDE-PluginInfo-Name=Bokeh
X-KDE-PluginInfo-Author=Xen Wildman
X-KDE-PluginInfo-Email=xenwildman@gmail.com
X-KDE-PluginInfo-License=CC BY-SA 4.0
