[Desktop Entry]
Name=Nitrux Dark (KDE Suite)
Name[es]=Nitrux Oscuro (Suite para KDE)

X-KDE-PluginInfo-Name=KDESuite_2
X-KDE-PluginInfo-Author=Uri Herrera
