[Desktop Entry]
Name=MossyMushrooms
Name[es]=HongosMusgosos


X-KDE-PluginInfo-Name=MossyMushrooms
X-KDE-PluginInfo-Author=Xen Wildman
X-KDE-PluginInfo-Email=xenwildman@gmail.com
X-KDE-PluginInfo-License=CC BY-SA 4.0
